$msg-item-width: 80%
$msg-item-width-bot: 65%
$msg-item-border-radius: 7px
$msg-user-bg: rgba(234, 234, 234, 0.6)
$msg-user-color: #333


._c_b_app
	& ._msg
		display: flex
		width: 100%
		margin: 11px 0
		& ._icn
			background-color: $msg-user-bg
			border-radius: 50em
			width: 24px
			height: 24px
			display: flex
			align-items: center
			justify-content: center
			position: relative
			top: 7px
		& ._item
			max-width: $msg-item-width-bot
			background-color: $bot-theme-bg
			color: $bot-theme-color
			padding: 9px
			border-radius: 0px $msg-item-border-radius $msg-item-border-radius $msg-item-border-radius
			position: relative
			margin-left: 11px
			border-color: $bot-theme-bg
			&:before
				content: ""
				width: 0
				height: 0
				position: absolute
				top: 0
				right: 100%
				border-width: 0px 7px 7px 0
				border-style: solid
				border-color: transparent
				border-right-color: inherit
		&._user
			justify-content: flex-end
			& ._item
				background-color: $msg-user-bg
				max-width: $msg-item-width
				color: $msg-user-color
				margin-right: 11px
				border-color: $msg-user-bg
				border-radius: $msg-item-border-radius 0px $msg-item-border-radius $msg-item-border-radius
				&:before
					left: 100%
					border-width: 0px 7px 7px 7px
					border-color: transparent
					border-left-color: inherit
	& ._time
		font-size: 11px
		opacity: 0.6
		margin-top: -7px
		margin-left: 37px
		&._user
			text-align: right
			margin-left: 0px
			margin-right: 13px

