.in-aria {
	display: flex;
}
.in-aria.row {
	flex-direction: row;
  border-bottom: 10px solid #f7f7f7;
}
.in-aria.row:last-child {
  border-bottom: none;
}
.in-aria .title {
  padding: 9px;
  flex-grow: 1;
  max-width:40%;
  width: 40%;
}
.in-aria .input {
  padding: 9px;
  flex-grow: 1; 
}
.in-aria .input input {
	  outline: none;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    padding: 3px;
    color:#555;
    transition: .3s all;
    width:85%;
}

.in-aria .input input:hover {
	border-bottom:2px solid #999;
}	

.in-aria .input input:focus {
	border-bottom:2px solid #222;
}
.in-err {
    color: #cc0000;
    font-size: 13px;
    font-weight: 300;
    padding: 3px;
    animation-duration: 1s;
}

.in-aria .sub-info {
  color:#666;
  margin-bottom: 3px;
  border-bottom: 1px solid #d9d9d9;
  display: inline-block;
  padding: 3px 5px 7px 3px;
}


.in-aria md-input-container {
  max-width:85%;
  padding:4px 0px;
  margin: -3px 0 9px 0!important;
}