<loader ng-if="createLoader" l-title="Creating Module..."></loader>

<md-dialog aria-label="Mango (Fruit)">

  <form name="welcomeModule" ng-clock style="width:701px">
    <md-toolbar >
      <div class="md-toolbar-tools" >
        <h2>Get Your Bot</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <md-icon><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">


        <div class>


          <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch ng-form="init_bot">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Setup Bot</span>
                  <span class="md-subhead md-caption">Bot initializers</span>
                  {{i_b_input}}
                </md-card-title-text>
              </md-card-title>
              <md-card-content layout-sm="row" layout-align="space-between">
                <div class="md-media-sm card-media">

                    <div class="in-aria row">
                    <div class="title">Welcome Message : </div>
                    <div class="input"> 
                       <auto-add-input ng-model="i_b_input.msg" name="i_welcome">
                              <input type="text" placeholder="Messages" data-array="$index" required/>
                          </auto-add-input>
                       <div class="in-err flash" ng-if="init_bot.i_welcome.$viewValue.length==0 && err.show">Specify atleast one message! </div>
                    </div>
                  </div>


                  <div class="in-aria row" ng-init="i_b_input.shortcut = 'none'">
                    <div class="title">Suggestion</div>
                    <div class="input"> 
                          <md-input-container class="md-block" flex-gt-sm >
                            <md-select ng-model="i_b_input.shortcut" name="i_sug">
                              <md-option ng-repeat="item in suggestion_type_array" value="{{item.value}}">
                                {{item.title}}
                              </md-option>
                            </md-select>
                          </md-input-container>

                       <div ng-show="i_b_input.shortcut != 'none'">
                        <div class="sub-info md-caption">Suggestion Items:</div>
                           <auto-add-input ng-model="i_b_input.shortcutData" name="i_sh_array">
                              <input type="text" placeholder="add items" data-array="$index" required/>
                          </auto-add-input>
                          <div class="in-err flash" ng-if="i_b_input.shortcutData.length == 0 && err.show">Specify atleast one Suggestion Item !</div>
                       </div>
                    </div>
                  </div> 
                  



                </div>

                <md-card-actions layout="column" layout-align="end center">
                  <md-button class="md-raised" aria-label="Favorite" ng-click="setUpBot()">
                    <!-- <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon> -->Setup
                  </md-button>
                </md-card-actions>
              </md-card-content>
      </md-card>


        </div>
       
        <div class="md-caption" style="color:#555">Insert below javascript snippet to your App.</div><br/>

        <code class="caption" style="background-color: #f5f5f5;color:#777"> 
        &#60;script chat-bot-id="{{_auth_user_id}}" type="text/javascript" src="http://127.0.0.1:3000/bot-client/bot.min.js"&#62;&#60;/script&#62;
          
        </code>



      


      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      
      <!-- <span flex></span>

      <md-button ng-click="closeDialog()">
        close
      </md-button> -->
    </md-dialog-actions>
  </form>
</md-dialog>