 <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon > <i class="material-icons">menu</i> </md-icon>
        </md-button>

        <h2 flex md-truncate class="font-1">ChatBot Manager</h2>

        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon> <i class="material-icons">person</i> </md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="More">
          <md-icon ><i class="material-icons">power_settings_new</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>
