._c_b_app
	& ._ldr
		display: block
		& ._itm
			display: block
			margin: 5px 0
			& ._ld
				min-height: 21px
				background-color: #f0f0f0
				border-radius: 3px
				max-width: 80%
				width: 80%
			&._rt
				overflow: hidden
				& ._ld
					float: right