<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create New Module</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <md-icon><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="createModule">
          <div class="in-aria row">
            <div class="title">Name Of the Module</div>
            <div class="input"> 
               <input type="text" name="a" placeholder="Name" ng-model="create_module_name" required />
            </div>
          </div>


           <div class="in-aria row">
            <div class="title">Matches For call </div>
            <div class="input"> 
              <auto-add-input ng-model="create_module_matches">
                  <input type="text" placeholder="add matches" data-array="$index" required/>
              </auto-add-input>
            </div>
          </div>


       </form>


      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Create
      </md-button>
      <md-button ng-click="closeDialog()">
        close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>