<div class="dashboard">
<ng-include src="'templates/header_toolbar.html'" scope="" onload="" class="titlebar fadeInDown"></ng-include>

<div class="content">
	<div style="margin-left:{{toggleMenuStatus}}" class="left-bar fadeInLeft" ng-include="'app/dashboard/html/left-bar.html'" scope="" onload="">
	</div>
	<div class="right-bar" ng-include="rightBarTemplate" scope="" onload="" ng-class="{'margin': rightBarTemplate != 'app/dashboard/html/stats-view.html'}">


	</div>
</div>

</div>

<div class="fab">
<md-fab-speed-dial md-open="isFabOpen" md-direction="up"
                         class="md-fling" ng-mouseenter="isFabOpen=true" ng-mouseleave="isFabOpen=false" ng-cloak>
        <md-fab-trigger aria-expanded="false">
          <md-button aria-label="menu" class="md-fab md-warn">
	          <md-tooltip md-direction="left" md-visible="false"
	                        md-autohide="false">
	              New
	          </md-tooltip>
             <md-icon > <i class="material-icons">add</i> </md-icon>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions aria-hidden="false">
          <md-button aria-label="Twitter" class="md-fab md-raised md-mini" ng-click="openCreateModuleDialog($event)">
          <md-tooltip md-direction="left" md-visible="false"
                        md-autohide="false">
              Add New Flow
            </md-tooltip>
            <md-icon > <i class="material-icons">chrome_reader_mode</i> </md-icon>
          </md-button>
          <md-button aria-label="Facebook" class="md-fab md-raised md-mini" ng-click="openCreateMenuDialog($event)">
           <md-tooltip md-direction="left" md-visible="false"
                        md-autohide="false">
              Add New Menu
            </md-tooltip>
            <md-icon ><i class="material-icons">playlist_add</i></md-icon>
          </md-button>
          <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
            <md-icon ></md-icon>
          </md-button>
        </md-fab-actions>
</md-fab-speed-dial>
</div>