<div class="flow-info" ng-controller="flowInfoCtrl">

<!-- <flow-scroll-toggle class="stick-header" id="12">Modules</flow-scroll-toggle> -->
<div class="title-bar valign-center"> <i class="material-icons">info_outline</i> Details</div>

<div class="section">
	<div class="title">
	    <div class="text">Name</div><div class="action">
	      <span ripple class="caption" ng-if="!isOpen.editName" ng-click="openEditModuleNameUI()"> <i class="material-icons">mode_edit</i> Edit</span>

	      </div>
   </div>
	<div class="content">


	<div class="item slideInDown anim" ng-if="!isOpen.editName">{{moduleSelectedData.name}}</div>
	<div class="item slideInUp" ng-if="isOpen.editName">
					  <div class="in-aria row row-r" >
			            <div class="title">
			               <md-progress-circular ng-if="isLoading.editName" ng-disabled="!isLoading.editName" class="md-warn" md-diameter="20"></md-progress-circular>  
                           <div ng-if="!isLoading.editName">
			                <md-button ng-disabled="NameEdit.name.$invalid || NameEdit.name.$pristine" ng-click="editNameOfModule(NameEdit.name.$viewValue)" class="md-fab md-primary md-mini" aria-label="Settings" style="top:-11px">
						        <md-icon style="color:#fff"> <i class="material-icons">check</i> </md-icon>
						    </md-button>
						     <md-button ng-click="cancelEditModuleNameUI()" class="md-fab md-warn md-mini" aria-label="Settings" style="top:-11px">
						        <md-icon style="color:#fff"> <i class="material-icons">cancel</i> </md-icon>
						    </md-button>
						    </div>
			             </div>
			            <div class="input" ng-form="NameEdit"> 

			                  <input type="text" placeholder="add msgs" name="name" data-array="$index" ng-model="_edit_module_name" required />
			              <div class="in-err flash" ng-if="finalModule.m_match.$viewValue.length==0 && err.show">Specify atleast one message!</div>
			            </div>
			          </div>
	</div>


	</div>
</div>

<div class="section">
	<div class="title">
         <div class="text">Matches</div><div class="action"><span class="caption" ng-if="!isOpen.editMatches" ng-click="openEditModuleMatchUI()"> <i class="material-icons">mode_edit</i> Edit</span></div>
	</div>
	<div class="content">
	<div class="item slideInDown anim" ng-repeat="m in moduleSelectedData.matches" ng-if="!isOpen.editMatches"><span md-colors="{'border-color':'primary-600', 'color':'primary-700'}" class="caption border" style="border:1px solid">{{m}}</span></div>
	</div>
	<div class="item slideInUp anim" ng-if="isOpen.editMatches">
					  <div class="in-aria row row-r" >
			            <div class="title">
			               <md-progress-circular ng-if="isLoading.editMatches" ng-disabled="!isLoading.editMatches" class="md-warn" md-diameter="20"></md-progress-circular>  
                           <div ng-if="!isLoading.editMatches">
			                <md-button ng-disabled="MatchEdit.name.$viewValue.length==0 || MatchEdit.name.$pristine" ng-click="editMatchOfModule(MatchEdit.match.$viewValue)" class="md-fab md-primary md-mini" aria-label="Settings" style="top:-11px">
						        <md-icon style="color:#fff"> <i class="material-icons">check</i> </md-icon>
						    </md-button>
						     <md-button ng-click="cancelEditModuleMatchUI()" class="md-fab md-warn md-mini" aria-label="Settings" style="top:-11px">
						        <md-icon style="color:#fff"> <i class="material-icons">cancel</i> </md-icon>
						    </md-button>
						    </div>
			             </div>
			            <div class="input" ng-form="MatchEdit"> 
 
                              <auto-add-input ng-model="_edit_module_match" name="match">
				                  <input type="text" placeholder="msg" data-array="$index" required/>
				              </auto-add-input>
			              <div class="in-err flash" ng-if="finalModule.m_match.$viewValue.length==0 && err.show">Specify atleast one message!</div>
			            </div>
			          </div>
	</div>



</div>



<div class="section">
	<div class="title">
         <div class="text">Services</div>
         <div class="action">
         	<md-button ng-click="openEmailServiceModal($event, 'insert', -1)" class="md-fab md-mini md-raised md-primary"><md-icon><i class="material-icons">add</i></md-icon></md-button>
         </div>
    </div>
         <div class="content" style="margin: 4px; border:1px solid #d9d9d9">
         	 
         	 <md-tabs md-dynamic-height md-border-bottom>
			      <md-tab label="email">
			        <md-content style="text-align: left;">
			          <md-list-item ng-repeat="ser in moduleSelectedData.services.email">
					    <p>{{ser.name}} </p>

					    <md-menu class="md-secondary">
					      <md-button class="md-icon-button">
					        <md-icon> <i class="material-icons">more_vert</i> </md-icon>
					      </md-button>
					      <md-menu-content width="4">
					        <md-menu-item>
					          <md-button ng-click="openEmailServiceModal($event, 'edit', $index)">
					           <md-icon><i class="material-icons" md-colors="{'color':'primary-700'}">mode_edit</i></md-icon>
					            Edit
					          </md-button>
					        </md-menu-item>
					        <md-menu-item>
					          <md-button ng-disabled="true">
					            <md-icon md-menu-align-target><i class="material-icons" style="color:#3b5998">content_copy</i></md-icon>
					            Copy
					          </md-button>
					        </md-menu-item>
					        <md-menu-divider></md-menu-divider>
					        <md-menu-item>
					          <md-button>
					            <md-icon><i class="material-icons" style="color:#cc0000">delete_forever</i></md-icon>
					            Delete
					          </md-button>
					        </md-menu-item>
					      </md-menu-content>
					    </md-menu>
                       <md-divider></md-divider>
					  </md-list-item>
					  
			        </md-content>

			        <!-- if no email service -->
			        <div ng-if="moduleSelectedData.services.email.length == 0" style="padding: 15px 4px">
			        	<center>
			        		<span class="md-caption">No Email Services</span>
			        		<div class="">
			        			<md-button class="md-raised" ng-click="openEmailServiceModal($event, 'insert', -1)">Create New Service</md-button>
			        		</div>
			        	</center>
			        </div>
			      </md-tab>

			      <md-tab label="api">
			        <md-content class="md-padding">
			          <div class="md-display-2">Coming Soon!</div>
			          <p><span class="md-caption">Not supported in this version!</span></p>
			        </md-content>
			      </md-tab>
	</div>
	<br/>
</div>



<div class="section">
	<div class="title">Statastics</div>
	<div class="content">
	<div class="item"><span class="caption small border">Created at {{moduleSelectedData.timestamp_created.at | date}}</span></div>
	<div class="item"><span class="caption small border">Updated at {{moduleSelectedData.timestamp_updated.at | date}}</span></div>
	<div class="item"><span class="caption small border">Last Triggered: <span am-time-ago="moduleSelectedData.statastics.triggeredAt"></span></span></div>
	<div class="item"><span class="caption small border">Triggered {{moduleSelectedData.statastics.triggered}} times</span></div>
	</div>
</div>




</div>