<loader ng-if="createLoader" l-title="Creating Module..."></loader>

<md-dialog aria-label="Mango (Fruit)">

  <form name="createModuleItem" ng-clock style="width:801px;">

    <md-toolbar >
      <div class="md-toolbar-tools" >
        <h2>{{action}} New Module</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <md-icon><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
       
          <div class="in-aria row">
            <div class="title">Name Of the Module</div>
            <div class="input"> 
               <input type="text" name="m_name" placeholder="Name" ng-model="c_m_input.name" required />
               <div class="in-err flash" ng-if="createModuleItem.m_name.$invalid && err.show">Specify the name of the Module</div>
            </div>
          </div>


           <div class="in-aria row">
            <div class="title">Module Message </div>
            <div class="input"> 
              <auto-add-input ng-model="c_m_input.msg" name="m_msg">
                  <input type="text" placeholder="msg" data-array="$index" required/>
              </auto-add-input>
              <div class="in-err flash" ng-if="createModuleItem.m_msg.$viewValue.length==0 && err.show">Specify Msg to display in Bot!</div>
            </div>
          </div>

          <div class="in-aria row">
            <div class="title">Before Message </div>
            <div class="input"> 
              <auto-add-input ng-model="c_m_input.beforeMsg" name="m_b_msg">
                  <input type="text" placeholder="msg" data-array="$index" required/>
              </auto-add-input>
            </div>
          </div>

          <div class="in-aria row">
            <div class="title">After Message </div>
            <div class="input"> 
              <auto-add-input ng-model="c_m_input.afterMsg" name="m_a_msg">
                  <input type="text" placeholder="msg" data-array="$index" required/>
              </auto-add-input>
            </div>
          </div>

        <div class="in-aria row">
            <div class="title">Validation</div>
            <div class="input"> 
                  <md-input-container class="md-block" flex-gt-sm >
                    
                    <md-select ng-model="c_m_input.validate" name="m_val"> 
                      <md-option ng-repeat="item in validation_type_array" value="{{item.value}}">
                        {{item.title}}
                      </md-option>
                    </md-select>
                  </md-input-container>

               <div ng-show="c_m_input.validate != 'none'">
                 <div class="sub-info md-caption">Validation Error Msgs:</div>
                   <auto-add-input ng-model="c_m_input.validateErrMsg" name="m_vl_array">
                      <input type="text" placeholder="add msgs" data-array="$index" required/>
                  </auto-add-input>
                  <div class="in-err flash" ng-if="c_m_input.validateErrMsg == 0 && err.show">Specify atleast one Error msg !</div>
               </div>
            </div>
          </div>


        <div class="in-aria row">
            <div class="title">Suggestion</div>
            <div class="input"> 
                  <md-input-container class="md-block" flex-gt-sm >
                    <md-select ng-model="c_m_input.shortcut" name="m_sug">
                      <md-option ng-repeat="item in suggestion_type_array" value="{{item.value}}">
                        {{item.title}}
                      </md-option>
                    </md-select>
                  </md-input-container>

               <div ng-show="c_m_input.shortcut != 'none'">
                <div class="sub-info md-caption">Suggestion Items:</div>
                   <auto-add-input ng-model="c_m_input.shortcutData" name="m_sh_array">
                      <input type="text" placeholder="add items" data-array="$index" required/>
                  </auto-add-input>
                  <div class="in-err flash" ng-if="c_m_input.shortcutData.length == 0 && err.show">Specify atleast one Suggestion Item !</div>
               </div>
            </div>
          </div> 

      


      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      
      <span flex></span>
      <md-button ng-click="create()">
       {{action}}
      </md-button>
      <md-button ng-click="closeDialog()">
        close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>