@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");
@keyframes sk-bouncedelay {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  80% { }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes placeHolderShimmer {
  0% {
    background-position: -200px 0; }
  100% {
    background-position: 200px 0; } }

@keyframes bot_open {
  0% {
    top: 96%;
    right: 25px;
    transform: scale(0, 0); }
  60% {
    top: 20%;
    right: 0;
    transform: scale(0.2, 0.2); }
  100% {
    bottom: 0;
    right: 0;
    transform: scale(1, 1); } }

@keyframes zoomOut {
  0% {
    transform: scale(0, 0);
    opacity: 0.3; }
  100% {
    transform: scale(1, 1);
    opacity: 1; } }

@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

._c_b_app ._ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0); }
  ._c_b_app ._ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, white 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s; }
  ._c_b_app ._ripple:active:after {
    transform: scale(0, 0);
    opacity: .5;
    transition: 0s; }

._c_b_app {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 100%;
  width: 350px;
  animation-name: bot_open;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  right: 0;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 3px 11px 0px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  ._c_b_app.active {
    display: flex; }
  ._c_b_app ._tpbr {
    height: 52px;
    min-height: 52px;
    background-color: #607D8B;
    color: rgba(255, 255, 255, 0.87);
    display: flex;
    align-items: center;
    padding: 0 11px;
    position: relative; }
    ._c_b_app ._tpbr ._cls {
      position: absolute;
      top: 0;
      right: 0;
      width: 52px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.2 all; }
      ._c_b_app ._tpbr ._cls:hover {
        background-color: rgba(255, 255, 255, 0.2); }
      ._c_b_app ._tpbr ._cls path {
        fill: rgba(255, 255, 255, 0.87); }
  ._c_b_app ._bd {
    flex-grow: 1;
    overflow-y: auto;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(232, 239, 245, 0.38);
    padding: 0 11px;
    position: relative; }
    ._c_b_app ._bd::-webkit-scrollbar {
      width: 5px; }
    ._c_b_app ._bd::-webkit-scrollbar-track {
      background-color: transparent; }
    ._c_b_app ._bd::-webkit-scrollbar-thumb {
      background-color: #999;
      border-radius: 7px; }
    ._c_b_app ._bd ._pged {
      display: block;
      background-color: #fff;
      padding: 9px;
      color: #000;
      font-weight: 100;
      font-size: 10px;
      text-align: center;
      letter-spacing: 1.1px;
      border-radius: 0 0px 5px 5px; }
  ._c_b_app ._fld {
    height: 52px;
    max-height: 52px;
    min-height: 52px;
    display: flex;
    align-items: center;
    position: relative;
    border-top: 1px solid rgba(169, 169, 169, 0.19);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 7px -2px 10px 1px rgba(0, 0, 0, 0.14), 17px -4px 14px 2px rgba(0, 0, 0, 0.02);
    z-index: 99; }
    ._c_b_app ._fld ._inpt {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative; }
      ._c_b_app ._fld ._inpt ._input {
        height: 100%;
        width: 100%;
        border: 0;
        outline: none;
        padding: 0 55px 0px 11px;
        color: rgba(43, 43, 43, 0.97);
        font-size: 16px;
        letter-spacing: 0.03em; }
      ._c_b_app ._fld ._inpt ._fab {
        width: 33px;
        height: 33px;
        position: absolute;
        right: 11px;
        background-color: #607D8B;
        border-radius: 50px;
        align-items: center;
        display: flex;
        justify-content: center;
        cursor: pointer;
        transition: 0.2s all;
        border: none;
        outline: none; }
        ._c_b_app ._fld ._inpt ._fab[disabled] {
          opacity: 0;
          pointer-events: none; }
        ._c_b_app ._fld ._inpt ._fab:hover {
          transition: 0.6s all;
          background-image: radial-gradient(circle, rgba(255, 255, 255, 0.26) 70%, transparent 10.01%); }
        ._c_b_app ._fld ._inpt ._fab ._post {
          margin-left: 2px;
          position: absolute;
          width: 0px;
          height: 0px;
          border-left: solid 11px rgba(255, 255, 255, 0.87);
          border-bottom: solid 9px transparent;
          border-top: solid 9px transparent; }

._c_b_app_tglbtn {
  display: inline-flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50em;
  background-color: #607D8B;
  color: rgba(255, 255, 255, 0.87);
  padding: 11px 13px;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: 0.3s all;
  font-weight: bold;
  animation-name: zoomOut;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out; }
  ._c_b_app_tglbtn:hover {
    transform: scale(1.1, 1.1); }
  ._c_b_app_tglbtn ._ic {
    margin-right: 7px; }
    ._c_b_app_tglbtn ._ic ._ldr {
      width: 16px;
      height: 16px;
      border: 2px solid rgba(255, 255, 255, 0.1);
      border-top: 2px solid #fff;
      border-radius: 50em;
      animation: spinner 0.73s linear infinite; }
    ._c_b_app_tglbtn ._ic path {
      fill: rgba(255, 255, 255, 0.87); }

._c_b_app ._msg {
  display: flex;
  width: 100%;
  margin: 11px 0; }
  ._c_b_app ._msg ._icn {
    background-color: rgba(234, 234, 234, 0.6);
    border-radius: 50em;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center; }
  ._c_b_app ._msg ._item {
    max-width: 65%;
    background-color: #607D8B;
    color: rgba(255, 255, 255, 0.87);
    padding: 9px;
    border-radius: 0px 7px 7px 7px;
    position: relative;
    margin-left: 11px;
    border-color: #607D8B; }
    ._c_b_app ._msg ._item:before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      right: 100%;
      border-width: 0px 7px 7px 0;
      border-style: solid;
      border-color: transparent;
      border-right-color: inherit; }
  ._c_b_app ._msg._user {
    justify-content: flex-end; }
    ._c_b_app ._msg._user ._item {
      background-color: rgba(234, 234, 234, 0.6);
      max-width: 80%;
      color: #333;
      margin-right: 11px;
      border-color: rgba(234, 234, 234, 0.6);
      border-radius: 7px 0px 7px 7px; }
      ._c_b_app ._msg._user ._item:before {
        left: 100%;
        border-width: 0px 7px 7px 7px;
        border-color: transparent;
        border-left-color: inherit; }

._c_b_app ._typing ._anim {
  text-align: left;
  display: inline-block;
  background-color: #e0e0e0;
  margin: 5px 0 5px 13px;
  padding: 7px 11px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  min-height: 21px; }
  ._c_b_app ._typing ._anim > div {
    width: 12px;
    height: 12px;
    background-color: #565656;
    border-radius: 100%;
    animation: sk-bouncedelay 0.8s infinite ease-in-out both; }
    ._c_b_app ._typing ._anim > div._bounce1 {
      animation-delay: -0.32s;
      height: 5px;
      width: 5px;
      margin-right: 7px; }
    ._c_b_app ._typing ._anim > div._bounce2 {
      animation-delay: -0.16s;
      width: 8px;
      height: 8px;
      margin-right: 4px; }

._c_b_app ._ldr {
  display: block; }
  ._c_b_app ._ldr ._itm {
    display: block;
    margin: 5px 0; }
    ._c_b_app ._ldr ._itm ._ld {
      min-height: 21px;
      background-color: #f0f0f0;
      border-radius: 3px;
      max-width: 50%;
      width: 50%;
      background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
      background-size: 400px 104px;
      position: relative;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-duration: 0.9s;
      animation-iteration-count: infinite; }
    ._c_b_app ._ldr ._itm._rt {
      overflow: hidden; }
      ._c_b_app ._ldr ._itm._rt ._ld {
        float: right; }

._c_b_app ._sgtn {
  display: inline-block;
  background-color: #fff;
  color: #333;
  min-width: 90px;
  margin: 0 9px 9px 9px;
  border-radius: 3px;
  border: 1px solid rgba(233, 233, 233, 0.58);
  max-width: 80%;
  box-shadow: 1px 1px 1px rgba(217, 217, 217, 0.42); }
  ._c_b_app ._sgtn ._itm {
    padding: 7px;
    font-size: 14px;
    font-weight: 400;
    transition: 0.2s all;
    cursor: pointer;
    border-bottom: 1px solid rgba(233, 233, 233, 0.25); }
    ._c_b_app ._sgtn ._itm:first-child {
      border-radius: 3px 3px 0 0; }
    ._c_b_app ._sgtn ._itm:last-child {
      border-radius: 0 0 3px 3px; }
    ._c_b_app ._sgtn ._itm:hover {
      background-color: #607D8B;
      color: rgba(255, 255, 255, 0.87); }
  ._c_b_app ._sgtn._option {
    display: flex;
    background-color: transparent;
    box-shadow: none;
    border: none;
    flex-wrap: wrap; }
    ._c_b_app ._sgtn._option ._itm {
      background-color: #fff;
      padding: 7px 11px;
      color: #333;
      margin: 0 2px 3px 2px;
      border-radius: 3px;
      border: 1px solid #607D8B; }
      ._c_b_app ._sgtn._option ._itm:hover {
        background-color: #607D8B;
        color: rgba(255, 255, 255, 0.87); }
