._c_b_app
	display: none
	z-index: 999
	flex-direction: column
	position: fixed
	top: 0
	height: 100%
	width: $bot-width
	animation-name: bot_open
	animation-duration: 0.2s
	animation-timing-function: ease-in-out
	right: 0
	font-family: 'Roboto', sans-serif
	box-shadow: 0 3px 11px 0px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
	&.active
		display: flex
	& ._tpbr
		height: $bot-top-bar-height
		min-height: $bot-top-bar-height
		background-color: $bot-theme-bg
		color: $bot-theme-color
		display: flex
		align-items: center
		padding: 0 11px
		position: relative
		& ._cls
			position: absolute
			top: 0
			right: 0
			width: 52px
			height: 100%
			display: flex
			align-items: center
			justify-content: center
			cursor: pointer
			transition: 0.2 all
			&:hover
				background-color: transparentize(#fff, 0.8)
			& path
				fill: $bot-theme-color
	& ._bd
		flex-grow: 1
		overflow-y: auto
		color: $bot-body-color
		background-color: $bot-body-bg
		padding: 0 11px
		position: relative
		&::-webkit-scrollbar
			width: 5px
		&::-webkit-scrollbar-track 
			background-color: transparent
		&::-webkit-scrollbar-thumb
			background-color: #999
			border-radius: 7px
		& ._pged
			display: block
			background-color: #fff
			padding: 9px
			color: #000;
			font-weight: 100
			font-size: 10px
			text-align: center
			letter-spacing: 1.1px
			border-radius: 0 0px 5px 5px
	& ._fld
		height: $bot-bottom-field-height
		max-height: $bot-bottom-field-height
		min-height: $bot-bottom-field-height
		background-color: #fff;
		display: flex
		align-items: center
		position: relative
		border-top: 1px solid rgba(169, 169, 169, 0.19)
		box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 7px -2px 10px 1px rgba(0, 0, 0, 0.14), 17px -4px 14px 2px rgba(0, 0, 0, 0.02)
		z-index: 99
		& ._inpt
			display: flex
			align-items: center
			width: 100%
			position: relative
			& ._input
				height: 100%
				width: 100%
				border: 0
				outline: none
				padding: 0 55px 0px 11px
				color: rgba(43, 43, 43, 0.97)
				font-size: 16px
				letter-spacing: 0.03em
			& ._fab
				width: 33px
				height: 33px
				position: absolute
				right: 11px
				background-color: $bot-theme-bg
				border-radius: 50px
				align-items: center
				display: flex
				justify-content: center
				cursor: pointer
				transition: 0.2s all
				border: none
				outline: none
				&[disabled]
					opacity: 0
					pointer-events: none
				&:hover
					transition: 0.6s all
					background-image: radial-gradient(circle, rgba(255, 255, 255, 0.26) 70%, transparent 10.01%)
				& ._post
					margin-left: 2px
					position: absolute
					width: 0px
					height: 0px
					border-left: solid 11px $bot-theme-color
					border-bottom: solid 9px transparent
					border-top: solid 9px transparent

._c_b_app_tglbtn
	display: inline-flex
	position: fixed
	bottom: 20px
	right: 20px
	border-radius: 50em
	background-color: $bot-theme-bg
	color: $bot-theme-color
	padding: 11px 13px
	align-items: center
	justify-content: center
	font-family: 'Roboto', sans-serif
	cursor: pointer
	transition: 0.3s all
	font-weight: bold
	animation-name: zoomOut
	animation-duration: 0.3s
	animation-timing-function: ease-in-out
	&:hover
		transform: scale(1.1, 1.1)
	& ._ic
		margin-right: 7px
		& ._ldr
			width: 16px
			height: 16px
			border: 2px solid transparentize(#fff, 0.9)
			border-top: 2px solid #fff
			border-radius: 50em
			animation: spinner 0.73s linear infinite
		& path
			fill: $bot-theme-color