<div class="_c_b_app">
	
	<div class="_tpbr">
		Help Assistant
	</div>

	<div class="_bd" id="_c_b_app_scroller_id">
		<div class="_pged" al-if="page_end">
			Already at the end of page!
		</div>
		<div class="_ldng" al-if="more_loading && !page_end">
			<c-bot-loader></c-bot-loader>
		</div>
		<div class="_msgs">
			<div al-repeat="i in msgs track by $index">
				<c-bot-mgs :index="$index" :data="i"></c-bot-mgs>
			</div>
		</div>
		<div class="_btm">
			<c-bot-sug al-if="suggestion"  :data="suggestion" ></c-bot-sug>
			<c-bot-typing al-if="is_typing"></c-bot-typing>
		</div>
		
	</div>

	<div class="_fld">
		<div class="_inpt">
			<input type="_text" class="_input" placeholder="Ask Bot!" autofocus="" al-value="query" @keydown.enter="sendQuery($event)"/>
			<button class="_fab _ripple" :disabled="query == ''" @click="sendQuery($event)">
				<span class="_post"></span>
			</button>
		</div>
	</div>


</div>