
<div ng-draggable='dragOptions' class="chat zoomInDown" ng-show="chatOpened" ng-init="chatOpened = false">

		<div class="toolbar valign-center" >
		          <div class="title">Help Assistant</div>
		          <div class="action" ng-click="chatOpened = false"> <i class="material-icons">close</i> </div>
        </div>




		<div class="container">
		        <div class="load-more zoomInDown" ng-if="moreLoading"><span><i class="material-icons">settings_backup_restore</i>Loading</span></div>
				<li ng-animate="'animate'" ng-repeat="m in msgs track by $index" class="animation msg {{m.by || 'bot'}} {{m.msg.msg_style}} valign-center">
				<div ng-if="m.by == 'bot'" class="icon valign-center"><i class="material-icons">toys</i></div>
				<div class="body" ng-include src="_chat_bot_msgs_template_"></div>
				</li>
				<div ng-if="suggestion" ng-include="suggestion_template" class="sug-container"></div>
				
				<div style="display:{{typing}}" class="msg bot typing">...</div>
		</div>

		<div class='field'>
            <input type="text" placeholder="Ask Me" ng-model="_chat_bot_query_" ng-keyup="bindQueryOnPress($event)"  />
        <fab-button class="md-fab md-mini md-primary send-fab valign-center" aria-label="Use Android" ng-disabled="_chat_bot_query_ == '' || _chat_bot_query_ == undefined " ng-click="bindQueryOnClick()">
          <md-icon class="icon"><i class="material-icons" style="font-size: 19px">send</i></md-icon>
        </fab-button>

		</div>




</div>

<div ng-show="!chatOpened" class="opnbtn zoomInDown" ng-click="scrollToBottomOnOpen()">
	<div class="title valign-center">Help Bot</div>
	<div class="icon valign-center"><i class="material-icons">chat</i></div>
</div>

